name: Auto Commit

on:
  schedule:
    - cron: '50 9 * * *' # run at 17:50 in China time
  workflow_dispatch:

jobs:
  check_commits:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Git
        run: |
          # You should set your email and name here.

          git config --global user.email "2595437938@qq.com"
          git config --global user.name "YanFanCode"

      - name: Check commits and create commit if none
        run: |
          # Set custom timezone and other config by yourself.

          date_today=$(TZ='Asia/Shanghai' date -I) # Date part
          time_start="${date_today}T20:00:00"
          time_end="${date_today}T23:55:00"
          commit_message="Auto commit on $(TZ='Asia/Shanghai' date '+%Y-%m-%d %H:%M:%S')"

          echo "Checking commits between $time_start and $time_end"

          commit_today=$(curl -H "Authorization: token ${{ secrets.TOKEN }}" -s "https://api.github.com/repos/${{ github.repository }}/commits?since=$time_start&until=$time_end")
          if echo "$commit_today" | jq -e '.[]' > /dev/null; then
              echo "Commits today in ${{ github.repository }}:"
              echo "$commit_today"
          else
            echo "No commits found today. Creating a dummy commit..."
            echo "$date_today No commits found today, auto commited." >> dummy.txt
            git add dummy.txt
            git commit -m "$commit_message"
            git push https://${{ secrets.TOKEN }}@github.com/${{ github.repository }}.git
          fi
